{% extends 'core/base.html' %}

{% block title %}<title>Skill</title>{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning border-bottom mb-5">Skills</h1>

    <div class="row text-white mb-4">
        <div class="col-sm-5">
            <h3>Selenium</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>
        </div>      
        <div class="col-sm-5 offset-sm-1">
            <h3>Postman</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
        </div>
    </div>

    <div class="row text-white mb-4">
        <div class="col-sm-5">
            <h3>Azure DevOps</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>
        </div>      
        <div class="col-sm-5 offset-sm-1">
            <h3>Git</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
        </div>
    </div>

    <div class="row text-white mb-4">
        <div class="col-sm-5">
            <h3>Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>
        </div>      
        <div class="col-sm-5 offset-sm-1">
            <h3>Jmeter</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
        </div>
    </div>

    <div class="row text-white mb-4">
        <div class="col-sm-5">
            <h3>Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>
        </div>      
        <div class="col-sm-5 offset-sm-1">
            <h3>SQL</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
        </div>
    </div>

</div>


{% endblock content %}
